<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title>{% if pageTitle is defined and pageTitle %}{{ pageTitle }} - {% endif %}Feed Canary</title>
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="{{ url('/app.css') }}">
  {% include "parts/icons.twig" %}
  <script defer data-domain="feedcanary.com" src="https://plausible.m7n.io/js/script.js"></script>
</head>

<body>
<header class="container">
  <nav>
    <a href="{{ url('/') }}" class="site-name">
      {{- "Feed Canary" -}}
    </a>
  </nav>
</header>

<main>
  {% block main %}
  {% endblock main %}
</main>

<footer class="container">
  <p>A little project from <a href="https://mattstein.com">Matt Stein</a>.</p>
</footer>
</body>
</html>
