<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title>Feed Canary</title>
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="{{ url('/app.css') }}">
</head>

<body>
<header class="container">
  <nav>
    <a href="{{ url('/') }}" class="site-name">
      {{- "Feed Canary" -}}
    </a>
  </nav>
</header>

<main class="container">
  {% block main %}
  {% endblock main %}
</main>

<footer class="container">
  <p>A little project from <a href="https://mattstein.com">Matt Stein</a>.</p>
</footer>
</body>
</html>
