services:
  app:
    environment:
      AUTORUN_ENABLED: true
    build:
      context: .
      dockerfile: ./.docker/web/Dockerfile
    volumes:
      - './storage:/var/www/html/storage'
    healthcheck:
      test: curl --fail http://localhost:8080/healthcheck || exit 1
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 10s
  scheduler:
    build:
      context: .
      dockerfile: ./.docker/cli/Dockerfile
    command: [ "php", "artisan", "schedule:work" ]
    volumes:
      - ./storage:/var/www/html/storage
  queue:
    build:
      context: .
      dockerfile: ./.docker/cli/Dockerfile
    command: ["php", "artisan", "queue:work", "--tries=3"]
    volumes:
      - ./storage:/var/www/html/storage
  horizon:
    build:
      context: .
      dockerfile: ./.docker/web/Dockerfile
    environment:
      PHP_FPM_POOL_NAME: "feed-canary_horizon"
    command: [ "php", "artisan", "horizon" ]
    volumes:
      - ./storage:/var/www/html/storage
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep 'artisan horizon' | grep -v grep || exit 1"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 10s
  octane:
    build:
      context: .
      dockerfile: ./.docker/octane/Dockerfile
    volumes:
      - ./storage:/var/www/html/storage
    healthcheck:
      test: ["CMD-SHELL", "php artisan octane:status | grep 'server is running'"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 10s
    ports:
      - 8000:8000
