<p>Click this link to confirm your feed and activate monitoring: <a href="{{ feed.confirmUrl() }}">{{ feed.confirmUrl() }}</a></p>

<p>If you have no idea why you’ve received this, please ignore it and sorry for the bother!</p>